* {
    margin: 0;
    padding: 0;
    outline: navajowhite;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50% ; left: 50%;
    transform: translate(-50%, -50%);
}
.calculation {
    display: flex;
    flex-flow: column;
    border: .1rem solid #628196;
    padding: 50px;
    border-radius: .8rem;
} 
input {
    margin: .8rem 0;
    width: 500px;
    max-width: 100%;
    padding: .8rem 1rem;
    border: .2rem solid thistle;
    border-radius: .5rem;
}
input:focus {
    border: .2rem dotted #eb80eb;
}
input[type="submit"] {
    background-color: royalblue;
    color: #FFF;
    font-weight: 600;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in;
}
input[type="submit"]:hover {
    background-color: #1749ddc4;
}
.resultado {
    text-align: center;
    margin-top: 8%;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFF;
    background-color: #000;
    max-width: 100%;

    padding: 1rem 5rem;
}